<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:icon="@mipmap/icon_admin"
        android:label="MemeIt Admin"
        tools:replace="android:label,android:icon">

        <activity
            android:name="com.innov8.memeit.admin.MainActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.innov8.memeit.admin.AdminMainActivity"></activity>
        <activity android:name="com.innov8.memeit.admin.TemplateManagerActivity" />
    </application>

</manifest>