<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.innov8.memegenerator">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".MemeEditorActivity"></activity>
        <activity android:name=".SimpleMemeGenerator"></activity>
    </application>

</manifest>