<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.innov8.memeit">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MemeItApp"
        android:allowBackup="false"
        android:icon="@mipmap/icon"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name=".activities.PhotoChooserActivity"></activity>
        <activity android:name=".activities.MemeTemplatePosterActivity" />
        <activity android:name=".activities.TagsActivity" />
        <activity android:name=".activities.MemeChooserActivity" />
        <activity android:name=".activities.ReactorListActivity" />
        <activity android:name=".activities.UserTagActivity" />
        <activity android:name=".activities.TagsChooserActivity" />
        <activity android:name=".activities.FeedbackActivity" />
        <activity android:name=".activities.MemeUpdateActivity" />
        <activity android:name=".activities.UserListActivity" />
        <activity android:name=".activities.TestActivity" />
        <activity android:name=".activities.MemePosterActivity" />
        <activity android:name=".activities.TagMemesActivity" />
        <activity android:name=".activities.SearchActivity" />
        <activity android:name=".activities.AuthActivity" />
        <activity android:name=".activities.CommentsActivity" />
        <activity android:name=".activities.AboutActivity" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.GuestUserActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="memeitapp.com"
                    android:pathPrefix="/api/v1/meme"
                    android:scheme="https" />
                <data
                    android:host="memeitapp.com"
                    android:pathPrefix="/api/v1/meme"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="memeitapp.com"
                    android:pathPrefix="/meme"
                    android:scheme="https" />
                <data
                    android:host="memeitapp.com"
                    android:pathPrefix="/meme"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ProfileActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="memeitapp.com"
                    android:pathPrefix="/api/v1/user"
                    android:scheme="https" />
                <data
                    android:host="memeitapp.com"
                    android:pathPrefix="/api/v1/user"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="memeitapp.com"
                    android:pathPrefix="/user"
                    android:scheme="https" />
                <data
                    android:host="memeitapp.com"
                    android:pathPrefix="/user"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SearchTagActivity"
            android:parentActivityName=".activities.MemePosterActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"
            tools:replace="android:theme" />
        <activity
            android:name=".activities.SearchUserActivity"
            android:parentActivityName=".activities.MemePosterActivity" />
        <activity android:name=".activities.NotificationActivity" />
        <activity
            android:name=".activities.ProfileSettingsActivity"
            android:parentActivityName=".activities.SettingsActivity" />
        <activity
            android:name=".activities.PasswordSettingsActivity"
            android:parentActivityName=".activities.SettingsActivity" />
        <activity
            android:name=".activities.UsernameSettingsActivity"
            android:parentActivityName=".activities.SettingsActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <service
            android:name=".services.MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bcaff70c9ab33cd1ced5b526b485cad64f182f1b" />
    </application>

</manifest>