<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.innov8.memeit">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MemeItApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".Activities.MemeTemplatePosterActivity"/>
        <activity android:name=".Activities.TagsActivity" />
        <activity android:name=".Activities.MemeChooserActivity" />
        <activity android:name=".Activities.ReactorListActivity" />
        <activity android:name=".Activities.UserTagActivity" />
        <activity android:name=".Activities.TagsChooserActivity" />
        <activity android:name=".Activities.FeedbackActivity" />
        <activity android:name=".Activities.MemeUpdateActivity" />
        <activity android:name=".Activities.UserListActivity" />
        <activity android:name=".Activities.TestActivity" />
        <activity android:name=".Activities.MemePosterActivity" />
        <activity android:name=".Activities.TagMemesActivity" />
        <activity android:name=".Activities.SearchActivity" />
        <activity android:name=".Activities.AuthActivity" />
        <activity android:name=".Activities.CommentsActivity" />
        <activity android:name=".Activities.AboutActivity" />
        <activity android:name=".Activities.SettingsActivity" />
        <activity android:name=".Activities.GuestUserActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="memeitapp.com"
                    android:pathPrefix="/api/v1/meme"
                    android:scheme="https" />
                <data
                    android:host="memeitapp.com"
                    android:pathPrefix="/api/v1/meme"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="memeitapp.com"
                    android:pathPrefix="/meme"
                    android:scheme="https" />
                <data
                    android:host="memeitapp.com"
                    android:pathPrefix="/meme"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.ProfileActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="memeitapp.com"
                    android:pathPrefix="/api/v1/user"
                    android:scheme="https" />
                <data
                    android:host="memeitapp.com"
                    android:pathPrefix="/api/v1/user"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="memeitapp.com"
                    android:pathPrefix="/user"
                    android:scheme="https" />
                <data
                    android:host="memeitapp.com"
                    android:pathPrefix="/user"
                    android:scheme="http" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Activities.SearchTagActivity"
            android:parentActivityName=".Activities.MemePosterActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"
            tools:replace="android:theme" />
        <activity
            android:name=".Activities.SearchUserActivity"
            android:parentActivityName=".Activities.MemePosterActivity" />
        <activity
            android:name=".Activities.NotificationActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.ProfileSettingsActivity"
            android:parentActivityName=".Activities.SettingsActivity" />
        <activity
            android:name=".Activities.PasswordSettingsActivity"
            android:parentActivityName=".Activities.SettingsActivity" />
        <activity
            android:name=".Activities.UsernameSettingsActivity"
            android:parentActivityName=".Activities.SettingsActivity" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <service
            android:name=".Services.MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bcaff70c9ab33cd1ced5b526b485cad64f182f1b" />
    </application>

</manifest>